@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cookie:wght@400&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  
}
.bg-img{
  background: url('Imagess/Nike/p7jordand1.jpg');
  margin-top: 60px;
  height: 110vh;
  background-size: cover;
  background-position: center;
  
}
.bg-img:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 120vh;
  width: 100%;
  background: rgba(0,0,0,0.7);
}
.content{
  position: absolute;
  top: 56%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  height: 522px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content .form {
  margin-top: 62px;
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 40px 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.field span{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.show{
  position: absolute;
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}

.pass-key:valid ~ .show{
  display: block;
} 
.pass{
  text-align: left;
  margin: 10px 0;
}
.pass a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
}
.pass:hover a{
  text-decoration: underline;
}
.field input[type="submit"]{
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
}
.field input[type="submit"]:hover{
  background: #2691d9;
}
.login{
  color: white;
  margin: 20px 0;
  font-family: 'Poppins',sans-serif;
}
.links{
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}
.facebook,.instagram{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook{
  margin-left: 0;
  background: #4267B2;
  border: 1px solid #3e61a8;
}
.instagram{
  background: #E1306C;
  border: 1px solid #df2060;
}
.facebook:hover{
  background: #3e61a8;
}
.instagram:hover{
  background: #df2060;
}
.links i{
  font-size: 17px;
}
i span{
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.signup{
  font-size: 15px;
  color: white;
  font-family: 'Poppins',sans-serif;
}
/* .signup a{
  color: #3498db;
  text-decoration: none;
  margin-left: 5px;
}
.signup a:hover{
  text-decoration: underline;
} */
.hidden {
  display: none;
}


/* Underline hover effect for the signup and login labels */
.toggle label {
  cursor: pointer;
  color: #3498db; /* Blue color for the links */
  text-decoration: none; /* Remove default underline */
}

.toggle label:hover {
  text-decoration: underline; /* Underline on hover */
}



/*-----------------------Footer -----------------------*/

/* footer section start */

:root {
  --light: #ffffff;
  --dark: #000;
}

 body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 10px;
} 
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

.newsletter h3 {
  font-family: Cookie;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin-top: 27px;
}
.newsletter h3 a{
  text-decoration: none;
  color: #000;
}
.c-nav-tool_title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}
.c-link, .s-link {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
  transition: 0.1s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
.c-link:hover, .s-link:hover {
  border-bottom: 2px solid var(--dark);
}
.c-nav-tool_list, .flex {
  list-style-type: none;
  padding: 0;
}
/* 

button {
  appearance: none;
  border: 0;
  background: transparent;
} */
.flex {
  display: flex;
  margin-left: 400px;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 70vh;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 23px;
  max-height: 50vh;
}
.footer {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.fcontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}



@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}

svg {
  margin: 1.4rem;
}
.c-2 {
  margin-top: 1.9rem;
}
.footer_copyright {
  color: black;
  font-size: 13px;
  margin-top: 3px;
} 

/* footer section end */