

/* Default Light Theme (already defined) */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Dark Theme */
[data-theme="dark"] {
    --background-color: #1c1c1c;
    --text-color: #f0f0f0;


/* Apply the CSS Variables to Elements */
body {
    background-color: black;
    color: var(--text-color);
}
body {
    transition: background-color 0.4s ease, color 0.4s ease;
}
.col-2 .p1, .col-2 .p2, .col-2 .price {
    color: white; }
.col-2 .tax {
    color: #b7b7b7; }

.small-img-col:hover {
    border-color: white;
    opacity: 0.7;
}
.selected {
    opacity: 0.68;
}
.col2 .p1, .col-2 .p2, .col-2 .price, .col-2 .tax {
    color: var(--text-color);
}
.shoe {
    background-color: black;}
.shoe .size:hover {
    border-color: rgb(252, 252, 252);
    color: white;
}
.sub .chart a {
    border-bottom: 2px solid #ffffff;
    background-color: black;
    color: white;
}
/* p {
    background-color: #000;
    color: white;
} */
.bag .cart{
    background-color: white;
    color: black;
}
.bag, .wish {
    background-color: black;    
}
.wish .fav {
    background-color: black;
    color: white;
}
.bag .cart:hover {
    background-color: #bdbdbd;
}
.wish .fav:hover {
    background-color: white;
    color: black;
}
.about .desp, .about2 .info, .about3 .info  {
    background-color: black;
    color: white;
}
.about2 .label, .about3 .label {
    background-color: #000;
    color: white;
}
.about2, .about3 {
    background-color: #000;
}
.det .detail {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-bottom: 1px solid white;
}
.det {
    background-color: black;
}
.det .detail:hover {
    color: #939393;
    border-bottom: 2px solid #a9a9a9;
}

/* Modal Dark Theme */
.modal {
    background-color: rgba(255, 255, 255, 0.4);
}
.modal-content {
    background-color: black;
    border: 50px solid black;
}
.modal-body, .modal-body .text, .modal-body .topic {
    color: white;
}
.modal-product-info .ps{
    color: #cdcdcd;
}
.modal-product-info .rs, .modal-product-info .name {
    color: white;
}
.close {
    color: white;
    background-color: black;
    border: 2px solid white;
}
.close:hover,
.close:focus {
    color: black;
    background-color: white;
}
.down .d1, .down .d2, .down .d3, .down .d4 {
    color: rgb(243, 243, 243);
}


.more .moretitle {
    color: white;
}
.more .view {
    color: #bfbebe;
}
.col-4 .brand {
    color: #b5b5b5; }
.col-4 .shoename, .col-4 .mrp {
    color: white;
}
.col-4 .gen {
    color: #cac9c9;
} 

.c-nav-tool_title {
    color: black;
}
.footer_copyright {
    color: black;
  } 


}

/* Dark Theme ends */