@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Dancing+Script:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cookie:wght@400&display=swap");


/* Variables */
:root {
  --regal-blue: #034378;
  --san-juan: #2d4e68;
  --bermuda: #77d7b9;
  --white: #fff;
  --black: #000;
  --cream: rgba(250, 236, 233, 0.7);
  --peach: rgba(250, 220, 213, 0.8);
  --darkpeach: rgba(252, 189, 173, 0.9);
  --open-sans: 'Open Sans', sans-serif;
}

/* Clear-fix mixin */
.cf::before,
.cf::after {
  content: '';
  display: table;
}

.cf::after {
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, var(--cream), var(--peach), var(--darkpeach));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: var(--open-sans);
}


a {
  text-decoration: none;
}


#mid { 
  font-family: var(--open-sans);
  font-weight: 500;
}

.row {

  max-width: 100%;
  margin: 12px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

/* Base styles */
.card {
  float: left;
  margin: 0 1%;
  padding: 0 0rem 0 0rem;
  width: 31%; /* Updated width to fit 3 cards per row */
  margin: 1.5% 1% 1% 1%; /* Adjust margin to add space between cards */ /* top right bottom left*/
  box-sizing: border-box;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card .menu-content li {
  display: inline-block;
}

.card .menu-content a {
  color: var(--white);
}

.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 400;
  font-family: 'Open Sans';
  transform: translate(-50%, 0);
}

.card .wrapper {
  background-color: var(--white);
  min-height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(var(--black), 0.3), 0 15px 12px rgba(var(--black), 0.2);
}

.card .wrapper:hover .data {
  transform: translateY(0);
}

.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.card .author {
  font-size: 13.5px;
}

.card .title {
  margin-top: 10px;
}

.card .text {
  height: 72px;
  margin-top: 0px;
}


.card input[type='checkbox'] {
  display: none;
}

.card input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}


/* wrap up */
.wrapper {
  background: center / cover no-repeat;
  background-size: cover;
  background-position: center;
}

.blog1 .wrapper { --bg-image: url(Imagess/blog1.jpg); }
.blog2 .wrapper { --bg-image: url(Imagess/blog2.jpg); }
.blog3 .wrapper { --bg-image: url(Imagess/blog3.jpg); }
.blog4 .wrapper { --bg-image: url(Imagess/blog4.jpg); }
.blog5 .wrapper { --bg-image: url(Imagess/blog5.jpg); }
.blog6 .wrapper { --bg-image: url(Imagess/blog6.jpg); }

.wrapper {
  background-image: var(--bg-image);
}


.blog1 .wrapper:hover .menu-content span,
.blog2 .wrapper:hover .menu-content span,
.blog3 .wrapper:hover .menu-content span,
.blog4 .wrapper:hover .menu-content span,
.blog5 .wrapper:hover .menu-content span,
.blog6 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}


.blog1 .header,
.blog2 .header,
.blog3 .header,
.blog4 .header,
.blog5 .header,
.blog6 .header {
  color: var(--white);
  padding: 1em;
}


.blog1 .header .date,
.blog2 .header .date,
.blog3 .header .date,
.blog4 .header .date,
.blog5 .header .date,
.blog6 .header .date {
  float: left;
  font-size: 10.5px;
}

.blog1 .menu-content,
.blog2 .menu-content,
.blog3 .menu-content,
.blog4 .menu-content,
.blog5 .menu-content,
.blog6 .menu-content {
  float: right;
}

.blog1 .menu-content li,
.blog2 .menu-content li,
.blog3 .menu-content li,
.blog4 .menu-content li,
.blog5 .menu-content li,
.blog6 .menu-content li {
  margin: 0 5px;
  position: relative;
}

.blog1 .menu-content span,
.blog2 .menu-content span,
.blog3 .menu-content span,
.blog4 .menu-content span,
.blog5 .menu-content span,
.blog6 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}

.blog1 .data,
.blog2 .data,
.blog3 .data,
.blog4 .data,
.blog5 .data,
.blog6 .data {
  color: var(--white);
  transform: translateY(calc(70px + 4em));
  padding: 0.5em;
}


.blog1 .title a,
.blog2 .title a,
.blog3 .title a,
.blog4 .title a,
.blog5 .title a,
.blog6 .title a {
  color: var(--white);
}

.blog1 .button,
.blog2 .button,
.blog3 .button,
.blog4 .button,
.blog5 .button,
.blog6 .button {
  width: 80px; /* Reduce the button width */
  margin: 1.5em auto 1em;  /* top right bottom left*/
  font-size: 12px;
  display: block;
  text-align: center;
  color: var(--white);
  line-height: 2;
  position: relative;
  font-weight: 700;
}

.blog1 .button::after,
.blog2 .button::after,
.blog3 .button::after,
.blog4 .button::after,
.blog5 .button::after,
.blog6 .button::after {
  content: '\2192';
  font-size: 17.5px;
  font-weight: 500;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 75px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}

.blog1 .button:hover::after,
.blog2 .button:hover::after,
.blog3 .button:hover::after,
.blog4 .button:hover::after,
.blog5 .button:hover::after,
.blog6 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}

/* added by me */

.heart {
    font-size: 40px;
    cursor: pointer;
    transform: 0.3s ease, color 0.3s ease;
    display: inline-flex;
    
}

.heart:hover {
    color: red; /* Fills the heart with red color on hover */
    transform: scale(1.2); /* Slightly enlarges the heart on hover */
}

/* When the heart is clicked and filled */
.filled-heart {
    color: red; 
}

/* === HEADING STYLE #1 === */
.nine p {
  text-align:center; font-size: 88px;  color: rgb(49, 6, 6); letter-spacing:1.2px;
  font-family:'Great Vibes', cursive; font-weight:400; margin-top: 110px;
  margin-bottom: 0%;

}



/* header starts */
header {
  font-family: Arial, sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  padding: 0px;
}

.topdiv {
align-items: center;
justify-content: space-between;
background-color: rgb(30, 30, 30);
padding: 1.2px 8px 1.2px 8px;
text-align: center;
position: sticky;
}
.topdiv .pol {
color: #ffffff;
font-size: 0.69em;
font-weight: bold;
text-align: center;
}
.topdiv a {
text-decoration: none;
}

.container {
  max-width: 1450px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  background-color:#ffffff;

}

.logo h1 {
  font-size: 2.16em;
  font-weight: lighter;
  margin: 0;
  font-family: Cookie;
  font-style: italic;
}
.logo a{
color: #000;
text-decoration: none;

}

.navli .drop {
position: relative;
}

.navli .dropdown {
opacity: 0; 
visibility: hidden; 
position: absolute;
background-color: white;
list-style-type: none;
padding: 14px 0px 10px 0px;
margin: 0;
z-index: 8;
top: 100%;
margin-top: 5px;
min-width: 200px;
transition: opacity 0.5s ease, visibility 0.5s ease;

}
.navli .dropdown li {
padding: 8px 16px;
letter-spacing: 0;
}

.navli .dropdown hr {
border: none;
border-top: 1.7px solid #eaeaea;
margin: 7px 0;
}

.navli .dropdown li a {
text-decoration: none;
color: rgb(68, 68, 68);
display: block;
font-size: 0.9em;
font-family: 'Roboto', sans-serif;
font-weight: normal;
}

.navli .dropdown li a:hover {
text-decoration: underline;
color: #7d7d7d;
}

/* Display the dropdown on hover */
.navli .drop:hover .dropdown,
.navli li:hover .dropdown,
.navli li:focus-within .dropdown,
.navli li .dropdown:hover {
opacity: 1; /* Fade in the dropdown */
visibility: visible;
}
.navli li  {
background: none;
border: none;
}

nav .navli {
  list-style-type: none;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 0;
  display: flex;
  gap: 45px;
}
nav .navli .drop {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0;
  padding: 3px 3px 2px 3px;
  border: 2px solid white;
  transition: all 280ms ease-in-out;
  transition: letter-spacing 350ms ease-in-out;
  transition: .4s;
  cursor: pointer;
  
  

}

nav .navli .drop:hover,
nav .navli .drop:active,
.user-options .log:hover,
.user-options .log:active {
backface-visibility: hidden;
border-top-color: #696969;
border-bottom-color: #696969;
letter-spacing: 5px;
}



.user-options .log {
margin-top: 5.5px;
margin-bottom: 4.5px;
font-size: 1.1em;
letter-spacing: 0;
padding: 3px 0 3px 0;
border: 2px solid transparent;
transition: all 280ms ease-in-out;
transition: letter-spacing 350ms ease-in-out;
transition: .4s;
}

.search-user {
  display: flex;
  align-items: right;
  gap: 10px;
}

.search-user input {
  padding: 5px 10px;
  font-size: 0.8em;
  border: 0.7px solid rgba(238, 238, 238, 0.7);
  border-radius: 16px;
  width: 200px;
  height: 25px;
  background-color: rgba(238, 238, 238, 0.6);
}
.search-user input:hover {
border: 1.2px solid rgb(45, 45, 45);
background-color: rgba(228, 227, 227, 0.6);;
}

.user-options {
  display: flex;
  gap: 22px;
}

.user-options .wishlist {
margin-top: 7px; 
font-size:22px; 
color:black;
transition: font-size 0.2s ease-in;
}
.user-options .wishlist:hover {
font-size: 24px;
}
.user-options a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}

.user-options .shop {
width: 23px;
height: 23px;
margin-top: 7px;
transition: width 0.2s ease-in, height 0.2s ease-in;
}
.user-options .shop:hover {
width: 25px;
height: 25px;
}

/* Header ends */ 




/* footer section start */

:root {
  --light: #ffffff;
  --dark: #000;
}

 body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 10px;
} 
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

.newsletter h3 {
  font-family: Cookie;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin-top: 27px;
}
.newsletter h3 a{
  text-decoration: none;
  color: #000;
}
.c-nav-tool_title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}
.c-link, .s-link {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
  transition: 0.1s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
.c-link:hover, .s-link:hover {
  border-bottom: 2px solid var(--dark);
}
.c-nav-tool_list, .flex {
  list-style-type: none;
  padding: 0;
}

button {
  appearance: none;
  border: 0;
  background: transparent;
}

.flex {
  display: flex;
  margin-left: 400px;
}
.footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 70vh;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer_inner {
  background: rgba(250, 220, 213, 0.3);
  backdrop-filter: blur(8px);
  border: 0.1px solid rgba(252, 189, 173, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin-top: 23px;
  max-height: 50vh;
}
.footer {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.fcontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}



@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}

svg {
  margin: 1.4rem;
}
.c-2 {
  margin-top: 1.9rem;
}
.footer_copyright {
  color: black;
  font-size: 13px;
  margin-top: 3px;
} 

/* footer section end */
